<div class="mesgs">
  <div class="msg_history">
    <!-- ----------------------------------chat box------------------------------------------------- -->
    <div class="div" *ngFor="let messages of messageList">
      <div
        [ngClass]="
          messages.senderName == userName ? 'outgoing_msg' : 'incoming_msg'
        "
      >
        <div
          [ngClass]="
            messages.senderName == userName ? 'sent_msg' : 'received_msg'
          "
        >
          <div class="received_withd_msg">
            <div class="incoming_msg_img">
              <img
                src="https://ptetutorials.com/images/user-profile.png"
                alt="sunil"
              />
            </div>
            &nbsp;
            <span
              style="
                font-size: 12px;
                font-family: 'Times New Roman', Times, serif;
              "
              >{{ messages.senderName }}</span
            >
            <p style="margin-top: 6px">{{ messages.message }}</p>
            <span class="time_date">{{
              messages.createdOn | date: 'medium'
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="typing">
    <p *ngIf="check">typing.....</p>
  </div>
  <div class="type_msg">
    <div class="input_msg_write">
      <input
        type="text"
        class="write_msg"
        placeholder="Type a message"
        [(ngModel)]="newMessage"
        (keyup)="typing($event.target.value)"
      />
      <button class="msg_send_btn" type="button">
        <i
          class="fa fa-paper-plane-o"
          aria-hidden="true"
          (click)="sendMessage()"
        ></i>
      </button>
    </div>
  </div>
</div>
